body {
    background: content-box radial-gradient( closest-side, #198754, rgb(6, 77, 33));
}

form {
    width: 100%;
    margin: auto;
    align-items: center;
    margin-top: 15%;
}

.fields {
    width: 50%;
    margin: auto;
    align-items: center;
    border: #000000 solid 2px;
    border-radius: 30px;
    padding: 5%;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.messages {
    color: white;
    text-align: center;
    font-size: larger;
    border-radius: 5%;
    border: #000000 solid 1.5px;
    background-color: rgb(255, 174, 0);
    padding: 5px 25px;
    line-height: 2;
    font-weight: bold;
}